@import url('https://fonts.googleapis.com/css?family=Imprima');
@import url('https://fonts.googleapis.com/css?family=Noto Sans JP');
@media (min-width: 1450px) {
    .container {
        max-width: 1380px;
    }
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: Imprima, 'Noto Sans JP';
}
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-image: url('https://pics.prcm.jp/a538fc10cb21a/47076940/jpeg/47076940.jpeg'); */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .3;
}
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    opacity: .5;
    z-index: 2000;
}
.container .puretext {
    display: flex;
    padding: 0 1rem;
    min-height: 35px;
    align-items: center;
}
.charicon {
    position: relative;
    margin: 0.25rem;
    width: 50px;
    height: 74px;
    border-radius: 5%;
}
.charpic {
    width: 50px;
    height: 50px;
    border: 2px solid #ACF;
    border-radius: 5%;
}
.charicon.charalt::before {
    content : attr(data-name);
    position : absolute;
    opacity : 0;
    /* customizable */
    bottom: 0;
    margin-bottom: 61px;
    margin-left: -3px;
    padding: 4px 8px;
    transition: all 0.15s ease;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 3;
    pointer-events: none;
}
.charicon.charalt:hover::before {
    opacity : 1;
    /* customizable */
    margin-bottom: 81px;
    color: white;
    background: black;
    border: 1px solid black;
}
.charicon.charalt::after {
    content : '';
    position : absolute;
    bottom: 0;
    margin-bottom: 54px;
    margin-left: 3px;
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transition: all 0.15s ease;
    opacity : 0;
}
.charicon.charalt:hover::after {
    margin-bottom: 74px;
    opacity : 1;
}
.charicon.charalt div {
    text-align: center;
}


/**  loading-ring  **/
.loading-ring {
    display: inline-block;
    width: 90px;
    height: 90px;
}
.loading-ring::before {
    content: ' ';
    display: block;
    position: absolute;
    margin: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: loading-ring-r .8s linear infinite;
}
.loading-ring::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 15px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: loading-ring .8s linear infinite;
}
@keyframes loading-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loading-ring-r {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}